---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

import {
    frontmatter as attributes,
    Content as BodyContent,
} from '../content/pages/impressum.md';
---

<Layout
	title={attributes.head.title}
	description={attributes.head.description}
	URLFavicon={attributes.head.URLFavicon}
	URLOGTagWebsiteURL={attributes.head.URLOGTagWebsiteURL}
	URLOGTagImage={attributes.head.URLOGTagImage}
>
	<main>
        <div>
            <h2>{attributes.body.title}</h2>
            <BodyContent />
        </div>
	</main>
    <Footer />
</Layout>

<style>
	main {
		margin: auto;
		width: 1200px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		text-align: left;
        padding-top: 4rem;
        padding-bottom: 4rem;
	}
</style>
