---
// interface defined for props passing to the Layout component
interface Props {
	title: string;
	description: string;
	URLFavicon: string;
	URLOGTagWebsiteURL: string;
	URLOGTagImage: string
};

// props getting imported into the component
const {
	title,
	description,
	URLFavicon,
	URLOGTagWebsiteURL,
	URLOGTagImage
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/ico" href={URLFavicon} />
		<meta name="description" content={description} />

		<!-- OG Tags -->
		<meta property="og:type" content="article" />
		<meta property="og:title" content={title} />
		<meta property="og:url" content={URLOGTagWebsiteURL} />
		<meta property="og:image" content={URLOGTagImage} />

		<!-- Title -->
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 11, 18, 58;
		--accent-light: 49, 74, 216;
		--accent-dark: 6, 10, 35;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent-light)),
			rgb(var(--accent-dark)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #0b123a;
		background-size: 224px;
	}
	body {
		margin: 0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
